@charset "UTF-8";
/* Common
------------------------------------------------------*/
.tab{
	width:100%;
	height:60px;
	border-bottom:1px solid #4a4a4a;
}
.tab .btn{
	margin-top:15px;
	margin-left:10px;
	float:right;
}
.tab-list{
	padding:15px 32px;
	margin-top:14px;
	color:#9b9b9b;
	background-color:#fff;
	border-radius:4px 4px 0 0;
	float:left;
	text-align:center;
}
.tab-list-active{
	border-style:solid;
	border-color:#4a4a4a;
	border-width:1px 1px 0 1px;
	font-weight:bold;
	color:#4a4a4a;
}
.row-small{
	height: 35px;
	padding: 4px 0;
}

/* Table
------------------------------------------------------*/
.maishou{ padding-bottom: 30px;}
.table-normal{
	margin-top:30px;
	width:100%;
	border-collapse:collapse;
}
.table-normal tr{
	height:60px;
	border-bottom:1px solid #e3e3e3;
}
.table-normal tr:first-child{
	height:40px;
	background-color:#f5f5f5;
	color:#4a4a4a;
	
	border-bottom: 1px solid #f5f5f5;
}
.table-list input[type="text"],
.table-normal input[type="text"]{
	padding:6px 12px;
	border-radius:4px;
	border:1px solid #C6C6C6;
	outline:none;
	width:75%;
	color:#4a4a4a;
	transition:.3s ease-in-out;
	
}
.table-list input[type="text"]:hover,
.table-normal input[type="text"]:hover,
.table-list input[type="text"]:focus,
.table-normal input[type="text"]:focus{
	border-color:#4a4a4a;
}
.table-normal td:nth-child(2){
	padding-right:30px;
}

.table-normal td a{ display:block; }
.ta-left{
	text-align:left;
}
a.col-action-save,
a.table-td-save{
	width:50px;
	margin:0 auto;
	text-align:center;
	
	color:#4a4a4a;
}
a.col-action-add,
a.table-td-add{
	width:40px;
	height:40px;
	font-size:32px;
	color:#4a4a4a;
	margin-left:15px;
	text-align:center;
}

/* Brand
------------------------------------------------------*/
.brand-edit-panel{
	border:1px solid #e3e3e3;
	border-radius:4px;
	margin-top:28px;
	padding:30px 50px 40px;
	background-color: #fff;
	box-shadow:0px 1px 2px rgba(0,0,0,0.24);-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.24); -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.24); -ms-box-shadow:0px 1px 2px rgba(0,0,0,0.24);
}
.brand-edit-panel input,
.brand-edit-panel textarea{
	width:100%;
	border:1px solid #b5b5b5;
	border-radius:2px;
}
.brand-info .brand-txta{ padding: 8px 15px; height: 83px; color:#9b9b9b; transition: .3s ease-in-out;font-family: '黑体', Helvetica, sans-serif;}
.brand-info .brand-txta:focus,.brand-info .brand-txta:hover{ border-color: #4a4a4a; color: #4a4a4a;}
.brand-logo{
	width:320px;
	text-align:center;
	float:left;
}
.brand-logo p{ color:#9b9b9b; }
.brand-logo-img{
	width: 300px;
	height: 65px;
	margin-top: 50px;
	margin-bottom: 35px;
	background-image:none;
	background-repeat:no-repeat;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	display: block;
}
.brand-logo-title{
	margin-top: 50px;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: left;
}
.brand-logo-instruct{
	font-size:13px;
	text-align:center;
	margin-bottom:35px;
}
.brand-info{
	display:inline-block;
	width:60%;
}
.brand-return{
	width:100%;
	display:inline-block;
	margin-top:30px;
}
.brand-info p,
.brand-return p{
	margin:0;
	padding:20px 0 6px 4px;
	margin-top: 10px;
	color:#9b9b9b;
}

.text-center{ text-align: center; margin-top: 30px;margin-bottom:30px;}
.text-center .newbtn{ display: inline-block; background-color: #fff; color:#4a4a4a; font-size: 16px; padding: 12px 128px; border-radius:2px; border:1px solid #b5b5b5; transition:.3s ease-in-out;}
.text-center .newbtn:hover{  background-color: #4a4a4a; color:#fff;}
/* Output
------------------------------------------------------*/
.output{
	margin-top:50px; 
	padding:40px 50px;
}
.output a{
	float:left;
	margin-right:30px;
	
}
.output input{ margin-left:10px; }

/* Statistic
------------------------------------------------------*/

/* Collection
------------------------------------------------------*/
.xilie{ padding:40px 30px 20px; margin-top: 30px;  background-color: #fff;}
.table-collection{
	background-color: #f5f5f5;
	height: 40px;
	line-height: 40px;
	color: #4a4a4a;
	font-weight: bold;
}
.table-collection > div,
.table-list > div{
	display:inline-block;
}
.col-select{ width:5%;max-width:65px; }
.col-name{ width:45%; }
.col-date{
	
	width:30%; 
	color:#3d406d;
	text-align:center;
}
.col-action{
	width:15%;
	text-align:center;
	color: #4a4a4a;
}

.table-list{
	line-height:60px;
	border-bottom:2px solid #f5f5f5;
}
.table-list:last-child{ border-bottom: 0px none;}
.col-select .arror{
	margin-top:24px;
}
.col-action .btn-edit,
.col-action .btn-delete{
	display: inline-block;
	position: relative;
	top: 10px;
	box-shadow:none;
}
div.col-detail{
	width: 100%;
	padding-top: 10px;
	display:none;
}
div.col-detail-active{
	display:block !important;
}
.col-detail-title{
	display:inline-block;
	width:10%;
	text-align:right;
}
.col-detail-title span{
	position: relative;
	top: -75px;
	
	color: #3d406d;
	right: -12px;
}
.col-detail-content{
	display:inline-block;
	width:80%;
}
.col-detail-corner{
	width: 20px;
	height: 20px;
	border-style: solid;
	border-color: #dcdcdc;
	border-width: 0 0 1px 1px;
	position: relative;
	display: block;
	float: right;
	top: -115px;
	right: 10px;
}
.col-detail-content textarea{
	padding: 20px 40px;
	width: 100%;
	height: 150px;
	
	font-family: '黑体', Helvetica, sans-serif;
	line-height: 1.75em;
	word-break: break-all;
	letter-spacing: 1px;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	transition:.3s ease-in-out;
}
.col-detail-content textarea:hover{
	border:1px solid #4a4a4a; 
}
.table-list a.col-action-add{
	margin-left: 20px;
	vertical-align: middle;
}

/* Coupon
------------------------------------------------------*/
.tb-coupon tr td{
	text-align:center;
	
}
.tb-coupon td:nth-child(2){ padding:0; }
.tb-coupon td a{ display:inline-block; }
.coupon-filter{
	
	color:#4a4a4a;
	margin-top:25px;
	margin-bottom:-15px;
}
.coupon-filter::after{
	content:"";
	display:block;
	clear:both;
}
.coupon-filter > a{
	float:left;
	margin-right:15px;
}
.coupon-filter .icon{
	width: 74px;
	margin-top:6px;
	padding-left: 30px;	
}
.coupon-filter .coupon-used,
.coupon-filter .coupon-free{ margin-top:14px; line-height:9px;}
.coupon-action{ float:right; }

/*新版首页*/

/*转圈按钮*/
.btn-loading {
    position: relative;
    border-color: #c6c6c6;
}

.btn-loading:before {
    content: '请稍后';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -208px;
    margin-top: -100px;
    padding: 0;
    color: #a0a0a0;
    line-height: 200px;
    background-color: #e6e6e6;
}

.btn-loading:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left:18px;
    margin-top: -9px;
    padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #ccc #aaa #aaa #aaa;
    transition: all .3s ease-in-out;
    transform: rotate(360deg);
    animation: rotate 0.8s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.btn-loading-login{
    position: relative;
    border-color: #c6c6c6;
}

.btn-loading-login:before {
	content: '';
	opacity:0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -208px;
    margin-top: -100px;
    padding: 0;
    color: #a0a0a0;
    line-height: 200px;
    background-color: #e6e6e6;
}

.btn-loading-login:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: 18px;
    margin-top: -9px;
    padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #ccc #aaa #aaa #aaa;
    transition: all .3s ease-in-out;
    transform: rotate(360deg);
    animation: rotate 0.8s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.stylist{ margin-top: 30px;  background-color: #fff; padding: 30px 50px;}
.stylist .left{  width: 88%; display: inline-block; }
.stylist .right{ width: 10%; display: inline-block; text-align:left; }
.stylist textarea,.stylist input{ border:1px solid #c6c6c6; padding:8px; color: #4a4a4a; display: inline-block; vertical-align: middle; border-radius: 2px;}
.stylist input{ width: 40%;}
.stylist textarea:hover,.stylist input:hover,.stylist textarea:focus,.stylist input:focus{ border-color:#4a4a4a;}
.stylist textarea{  width: 90%; max-width: 90%; min-width: 90%; height: 120px;}
.stylist label{ display: inline-block; vertical-align: middle; color: #4a4a4a;}
.stylist .icon{ height: 35px; width: 35px; cursor:pointer; vertical-align: middle;}
.stylist .icon-save{ margin-top: -3px; background-size: 95%;}
.saveStyer{background-color: #4a4a4a; border:0px none; color: #FFFFFF; border-radius: 2px; cursor: pointer; line-height: 40px; width: 350px; height: 40px; font-size:16px; display: inline-block; text-align: center; margin: 10px;}
.saveStyer:hover{ background-color: #d91f20;}

/*  新建买手 */
.NewBuyer{ display: none; width: 750px; height:610px; position: fixed; left:0; right: 0; top:0; bottom: 0; margin: auto; background:rgba(160, 160, 160, 0.31); z-index: 999; padding:7px; border-radius: 5px;}
.NewBuyer .title{ background-color: #4a4a4a; color: #fff; font-size: 16px; padding:16px 45px; border-radius: 4px 4px 0 0;}
.NewBuyer .close{ background:url("../images/close.png") no-repeat center; position: absolute; right: 20px; top: 20px; width:20px; height: 19px; cursor: pointer;}
.NewBuyer .buyerInfo{ background-color: #fff; padding:40px 50px 4px;}
.NewBuyer .buyerInfo li{ min-height: 58px; font-size: 0;}
.NewBuyer .buyerInfo label{ width: 170px; text-align: right; display: inline-block; vertical-align:top; margin-top: 22px; margin-right: 5px; font-size: 14px;}
.NewBuyer .buyerInfo input{ width: 304px; height: 34px; line-height: 1.46; padding: 2px 6px; border-radius: 3px; border:1px solid #9b9b9b; margin: 12px 0;}
.NewBuyer .buyerInfo input.error{ border-color: red;}
.NewBuyer .distpicker{ display: inline-block; }
.NewBuyer select{  border:1px solid #9b9b9b; height: 34px; display: inline-block; margin:12px 0; appearance: none; -webkit-appearance: none;
-moz-appearance: none; -o-appearance: none; border-radius: 3px; padding-left: 10px; }
.NewBuyer select.error{ border-color: red;}
.NewBuyer .sjx{ position: relative;}
.NewBuyer .sjx:after{background:url("../images/icon_bre.png") no-repeat; background-position: -10px -92px;
content: ""; position: absolute; top: 15px; right: 3px; width: 24px; height: 20px; z-index: 200; pointer-events: none;}
.NewBuyer .addressPro{ width: 177px;}
.NewBuyer .addressCity{ width: 110px; margin-left:17px;}
.NewBuyer .price{ width: 145px;}
.NewBuyer .dis input{ width: 62px; margin: 0; margin-left: 25px; text-align: center;}
.NewBuyer .dis span{ font-size: 18px; color: #4a4a4a; margin-left: 6px; display: inline-block;}
.NewBuyer .button a{ width: 160px; text-align: center; padding: 10px 0; background: #4a4a4a; color:#fff; border:0px none; display: inline-block; margin: 30px 10px; border-radius: 3px;}

.NewBuyer.small{ min-width: 710px; height: 610px; width:70%;position: relative; margin-top: 30px; background-color: #fff; padding: 40px 0; margin-bottom: 30px; display: block;}
.NewBuyer.small .buyerInfo{ padding-left:20%;}
.NewBuyer.small .topimg { border-bottom: 1px solid #ddd; width: 80%; margin-left: 10%; padding-bottom: 20px;}
.NewBuyer.small .cssimg{ width: 72px; height: 72px; display: inline-block; }
.NewBuyer.small .cssimg img{ width: 100%;}
 
.NewBuyer span.buydata{ display: inline-block; font-size: 14px; vertical-align: top; margin-top: 22px; margin-left: 10px; margin-right: 20px;}
.NewBuyer_botton a{ width: 350px; padding: 12px 0; color: #fff; text-align: center; margin: 15px; display: inline-block; background-color: #4a4a4a; border-radius: 2px;}
.NewBuyer_botton a:first-child{ background-color: #da1f21;}


/* 选择买手 */
.NewBuyer .ChBybox{ background-color: #fff; padding: 20px 25px;}
.NewBuyer .search{ text-align: center;}
.NewBuyer .search input{ width: 220px; height: 30px; line-height: 1; padding: 2px 7px; border:1px solid #9a9a9a; display: inline-block; vertical-align:middle; border:1px solid #dcdcdc; border-radius: 3px;}
.NewBuyer .search .icon-search2{ font-size: 22px; }
.NewBuyer .table{ height: 431px; overflow-y:scroll;}
.NewBuyer table{ width: 97%; border-top: 1px solid #ebebeb; margin-top: 15px;}
.NewBuyer .table tr{ border-bottom: 1px solid #ebebeb; height:68px; cursor:pointer;}
.NewBuyer .table tr img{ width: 50px; height: 50px; margin: 3px; border-radius: 50px;}
.NewBuyer .table tr.selected{ background-color:#eaeaea;}
.NewBuyer .table tr.selected span.icon-right{ display: inline-block;}
.NewBuyer .table span.icon-right { display:none; margin-left: 20px;}
.NewBuyer .table td:nth-child(2){ width: 108px; text-align: right; padding-right: 10px;}
.NewBuyer .table td:nth-child(3){ width: 40%; padding-left:30px; margin-right: 2%;}
.NewBuyer .table td:nth-child(4){ width: 40%; padding-left: 20px;}
.NewBuyer .ChBybox .chosebtn{ margin-top:2px; padding-top: 7px;}
.NewBuyer .chosebtn .left{ float: left;}
.NewBuyer .chosebtn .left a{ width: 120px; border:1px solid #d8d8d8; padding:9px 0; text-align: center; margin-right: 15px; display: inline-block; font-size: 12px; border-radius: 3px; color: #4a4a4a;}
.NewBuyer .chosebtn .left a:hover{ background-color: #4a4a4a; color:#fff;}
.NewBuyer .chosebtn .right{ float: right;}

.NewBuyer.add_Goods{  width: 951px; height: 80%;  bottom: inherit; top: 10%;}
.NewBuyer.add_Goods .orderbox{ padding: 20px 0; padding-top: 0; height:71%; overflow-y: scroll; position: absolute;
    width: 95%;}
.NewBuyer.add_Goods .whitebg{ height: 100%;}
.NewBuyer.add_Goods .chosebtn{ position: absolute; bottom: 20px; width: 90%; background-color: #fff; z-index:20; padding: 5px;}
.NewBuyer.add_Goods .left{ float: left;}
.NewBuyer.add_Goods .left span{ display: inline-block; vertical-align: middle;}
.NewBuyer.add_Goods .right{ float: right;}
.NewBuyer.add_Goods .AGbox{ background-color: #fff; padding: 20px; }
.NewBuyer.add_Goods .AGbox table{ border-top: 0px none;}
.NewBuyer.add_Goods .AGbox table img{ width: 64px; height: 64px; display: inline-block; vertical-align: middle;}
.NewBuyer.add_Goods .AGbox table td{ border-left:0px none; }
.NewBuyer.add_Goods .tool .sjx{ margin-left: 30px;}
.NewBuyer.add_Goods .tool select{ padding-left: 15px; padding-right: 25px;}
.NewBuyer.add_Goods .search{ margin-top: 10px; padding-right: 22px;}
.NewBuyer.add_Goods .AGbox table div.tabbox{ border-top:0px none; padding:5px 0;}
.NewBuyer.add_Goods span.num{ display: inline-block; width: 35px; text-align: center;}

.tabbox{ padding: 3px 0;}
.tabbox .changeNum{ width: 15px; height: 15px; text-align: center; border:1px solid #979797; color: #979797; display: inline-block; line-height: 15px;}
.tabbox .changeNum:hover{ background-color: #4a4a4a; color: #fff;}
.tabbox  span.num{ display: inline-block; width: 35px; text-align: center;}