.need{color:red;}
.product-info{
    font-size: 14px;
}
.label-control{
    padding-bottom:6px;
}
.table-cell{ white-space:normal; float: left;}
.product-info input[type="radio"]{height: 12px;}

 
.container .product-info .panel-heading{color:#4a4a4a; margin-bottom: 30px;}
.labelwidth label{ width: 70px; display: inline-block; color: #4a4a4a;}
.labelwidth .need{ color:#db524b;}

.product-info .label-name{color:#4a4a4a; }
.label-control .label-name{ font-size: 13px; color: #707070; display:inline-block; line-height: 1;}
.product-info .product-head {
    width:100%;
    border-left:1px solid #ebebeb;
    border-right:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    padding-top:50px;
    padding-bottom:40px;
}
.detail-buy{float:right;margin-right:6%;width:45%;}

.product-data-detail{
    border:1px solid #dcdcdc;
}
.product-data-detail div{background-color: #ffffff;}
.product-barchart{margin-top: 18px;}
.save-data{color:black;}
.read-data{color:#9b9b9b;}
.product-barchart div,.product-data-detail div{padding:14px;}

.product-head:after{content:"";display:block;clear:both;}

.s-image-show-container{
    white-space:normal;
    display:inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.s-image-show{
    display: inline-block;
    margin-right:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width:1366px){
    .s-image-show{ margin-right: 20px;}
}
.product-info .pricetable th,.product-info .pricetable td{
    border:1px solid #dcdcdc;
}

.category-detail .plnone{ padding-left: 0; color:#4a4a4a;}
.category-detail .plnone .need{ color: #db524b;}
.product-info .size-table-container{
    margin:0 12px 14px 0;
    padding: 10px 0;
}
.size-table{width:100%;margin:auto;}
.size-table thead{background-color: #f5f5f5;}
.size-table tbody tr{
    border-bottom: 1px solid #ebebeb;
    width:100%;
}
.size-table-container .size-table td{padding:25px 0; display: table-cell; color:#4a4a4a;}
.product-info td,.product-info th{
    padding:14px;
font-weight: normal;
}
.buy-num,.buy-price{padding:8px 12px;}

.productlist{white-space: normal;height: 47px;}
.productlist p{ display: inline-block; margin-right: 6%; /* zoom: 1; */ overflow: hidden;}
.productlist .label-name{ color: #4a4a4a; display: block; float: left; overflow: hidden;line-height: 16px;}
.productlist .spanbox{ color: #4a4a4a;display: block; zoom: 1; overflow: hidden; word-wrap: break-word; word-break: break-all;line-height: 16px;}
.deal-btn{
    margin-top:16px;
    margin-bottom: 30px;
    text-align: center;}
.deal-btn a{
    margin-left:5%;
    margin-right:5%;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    overflow: hidden;
}
.deal-btn a:hover{ 
    background-color: #d91f20; 
    -webkit-transition: .1s linear;
    -moz-transition: .1s linear;
    -ms-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
}
#add-price-container{
    width:80%;
    margin:0 auto;
    height:auto;
}
#add-price-container .add-size{margin-top: 0; }
.notice{color:red; }
