<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
        <a class="list active">买手</a>
    </div>
    <div class="wrapper">
        <form class="form-horizontal" id="order_form">
            <div class="form-group">
                <div class="search-head-1">所有用户<span>({{buyer_list.length}})</span></div>
                <label class="saixuan" ng-click="category_show_hide()"><span class="choose-label">筛选</span><a class="icon icon-dpd"></a></label>
                <a class="btn btn-com btn-xs btn-m" href="#/code" role="button">邀请码设置</a>
            </div>
            <div class="yinchang addshadow" ng-show="category_show">
            <hr/>
                <div class="form-group" id="delete-bottom">
                    <label class="col-lg-2 control-label">用户信息:</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="店名" ng-model="filter_data.company">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="用户名" ng-model="filter_data.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-2" id="email-addr">
                        <input type="text" class="form-control" placeholder="Email" ng-model="filter_data.email">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="电话" ng-model="filter_data.phone">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="地址（城市）" ng-model="filter_data.city">
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">价格方式:</label>
                  <div class="col-lg-10">
                    <label>
                        <input type="checkbox" ng-model="price_type.retail_based"
                           ng-true-value="0" ng-false-value="''">以零售价为基准
                    </label>
                    <label>
                        <input type="checkbox" ng-model="price_type.wholesale_based"
                           ng-true-value="1" ng-false-value="''">以批发价为基准
                    </label>
                  </div>
                </div>
                <hr/>
                <div class="form-group">
                  <label class="col-lg-2 control-label">认证状态:</label>
                  <div class="col-lg-10">
                    <label>
                        <input type="checkbox"  ng-model="status.unverified"
                           ng-true-value="0" ng-false-value="''">未认证
                    </label>
                    <label>
                        <input type="checkbox" ng-model="status.verified"
                           ng-true-value="1" ng-false-value="''">已认证
                    </label>
                  </div>
                </div>
                <hr/>
                <div class="form-search">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn-search enterClick" ng-click="filter_buyer()" ng-class= "{'btn-loading-login':avoidClick}" ng-disabled="avoidClick"><span class="icon icon-search"></span><span>搜索</span></a>
                    </div>
                    <div class="btn-reset" ng-click="filter_reset()">
                        重置
                    </div>
                </div>
            </div>
        </form>
        <div class="user-info-container addshadow" >
            <div class="user-info user-info-head">
                <div class="user-detail">
                    <div class="fix-width"></div>
                </div>
                <div class="user-detail">
                    <div class="user-NM up-down-label">买手</div>
                    <a class="up-down" ng-click="order('username')" ng-class="{'up-down-opacity':order_by !== 'username'}">
                        <div class="up" ng-hide="reverse && order_by === 'username'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'username'"></div>
                    </a>
                </div>
                <div class="user-detail">
                    <div class="user-mb up-down-label">手机</div>
                    <a class="up-down" ng-click="order('phone')" ng-class="{'up-down-opacity':order_by !== 'phone'}">
                        <div class="up" ng-hide="reverse && order_by === 'phone'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'phone'"></div>
                    </a>
                </div>
                <div class="user-detail">
                    <div class="user-email up-down-label">邮箱</div>
                    <a class="up-down" ng-click="order('email')" ng-class="{'up-down-opacity':order_by !== 'email'}">
                        <div class="up" ng-hide="reverse && order_by === 'email'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'email'"></div>
                    </a>
                </div>
                <div class="user-detail">
                    <div class="user-com up-down-label">买手店</div>
                    <a class="up-down" ng-click="order('company')" ng-class="{'up-down-opacity':order_by !== 'company'}">
                        <div class="up" ng-hide="reverse && order_by === 'company'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'company'"></div>
                    </a>
                </div>
                <div class="user-detail">
                    <div class="deal-method up-down-label">操作</div>
                    <a class="up-down" ng-click="order('status')" ng-class="{'up-down-opacity':order_by !== 'status'}">
                        <div class="up" ng-hide="reverse && order_by === 'status'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'status'"></div>
                    </a>
                </div>
            </div>
            <div class="user-info user-info-body" ng-repeat="b in buyer_list | orderBy:order_by:reverse">
                <div class="user-detail">
                    <div class="user-image">
                        <!--<div class="icon icon-check" ng-click="codeSelect($event, b)"></div>-->
                        <a ng-href="#/buyer_detail/{{b.id}}" ng-show="b.create_by_brand"> 
                            <img ng-src="images/peol.png" />
                        </a>
                        <a ng-href="#/buyer_detail/{{b.id}}" ng-show="!b.create_by_brand"> 
                            <img ng-src="{{host}}{{b.avatar.url}}">
                        </a>
                    </div>
                </div>
                <div class="user-detail">
                    <div class="user-NM">
                        <a ng-href="#/buyer_detail/{{b.id}}">{{ b.username }}</a>
                    </div>
                    <!--<div>地址：{{ b.province}} {{ b.city}} {{ b.address }}</div>
                    -->
                </div>
                <div class="user-detail">
                    <div class="user-mb">{{ b.phone }}</div>
                </div>
                <div class="user-detail">
                    <div class="user-email">{{ b.email }}</div>
                </div>
                <div class="user-detail">
                    <div class="user-com">{{ b.company }}</div>
                </div>
                <div class="user-detail">
                    <div class="deal-method">
                        <a ng-href="#/buyer_detail/{{b.id}}">详细资料</a>
                        <div>
                            <a ng-show="b.status == 1 || b.create_by_brand" ng-click="del_buyer(b.id,$index,b.username)">删除</a>
                            <div class="confirm-head" id="unverify{{b.id}}">
                                <p>一经删除，买手将不能再购买您的商品，</p>
                                <p>确定删除吗？</p>
                            </div> 
                        </div>
                        <div ng-hide="b.status != 0 || b.create_by_brand">
                            <a ng-click="verify(b,b.username)">接受</a>
                            <a ng-click="refuse(b,$index,b.username)">不接受</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>    
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>
