<div class="prev_navbar">
        <i class="prev_logo"></i>
</div>
<div ng-include src="'templates/preview_menu.html'"></div>
<div class="pre_rightside">
  <div class="product clearfix">
                <div class="image-all">
                        <a class="image-list" ng-click="gotoElement(0)">
                                <img ng-src="{{host}}{{ product.images[0].image_detail.url}}"/>
                        </a>
                        <a class="image-list" ng-repeat="i in product.images" ng-hide="$first"  ng-click="gotoElement($index)">
                                <img ng-src="{{host}}{{ product.images[$index].image_detail.url}}" />
                        </a>
                </div>            
                <div class="product-image">
                    <img  ng-src="{{host}}{{ product.images[$index].image_detail.url}}" id="tag{{$index}}" ng-repeat="i in product.images"/>
                </div>
                <div class="product-info">
                        <p class="product-brand">{{ g_brand.name }}  {{ product.collection.title }}系列</p>
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">
                                <span class="product-price-title" ng-show="product.price_type == 0">零售价</span>
                                <span class="product-price-title" ng-show="product.price_type == 1">批发价</span>
                                <span class="product-price-no">￥{{product.price|number:0}} </span>
                        </p>
                        <p class="product-price">
                                <span class="product-price-title">折扣价</span>
                                <span class="product-price-no">￥{{ product.price * 80 / 100|number:0 }}</span>
                        </p>
                        <p class="product-addcart" ng-show="product.sizes">
                                <a class="btnp btnp-big btnp-hover" ng-click="add_to_cart(product)" ng-hide="already_add(product.brand_id, product.pk)">添加</a>
                                <a class="btnp btnp-big btnp-ok" ng-click="delete_from_cart(product.brand_id, product.pk)" ng-show="already_add(product.brand_id, product.pk)">已添加 X</a>
                        </p>
                        <p class="product-deadline" ng-show="product.sizes">
                                <span>最后下单日期</span>{{ product.last_order_time | date:'yyyy-MM-dd' }}
                        </p>
                        <p class="product-next">
                            <a class="btnp btnp-cancel" ng-click="go_to_prev()">上一件</a>
                            <a class="btnp btnp-cancel" ng-click="go_to_next()">下一件</a>
                        </p>
                        <div><p class="product-divide">商品编号</p></div>
                        <div class="product-item">
                            <ul>
                                <li><span>尺寸</span>SKU</li>
                                <li ng-repeat="size in product.sizes"><span>{{ size.size }}</span>{{ size.sku }}</li>
                            </ul>
                        </div>
                        <div><p class="product-divide">色号</p></div>
                        <p class="product-item">{{ product.color_code}}</p>
                        <div><p class="product-divide">面料</p></div>
                        <p class="product-item" data-ng-bind-html="product.composition">{{ product.composition }}</p>
                        <div><p class="product-divide">详情</p></div>
                        <p class="product-item" ng-show="product.description">{{ product.description }}</p>
                        <div><p class="product-divide">洗涤方法</p></div>
                        <p class="product-item">{{ product.washing_method }}</p>                   
                </div>            
        </div>
</div>