<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" media="screen">
    <link href="css/login.css" rel="stylesheet" media="screen">
    <title>Air</title>
</head>
<body ng-app="jeanineApp">
    <div class="login-container">
        <div class="header">
            <div class="wrap fn-clear">
                <a class="fn-left" href="javascript:;">
                    <img src="images/logo.png"/>
                </a>
            </div>
        </div>
        <div class="wrap-container">
            <div class="login-wrap">
                <form name="registerForm" novalidate class="login-content" ng-submit="submitForm(registerForm.$valid)">
                    <div class="login-tag-1">品牌注册</div>
                    <div>
                        <div class="login-tag-2">邮箱：</div>
                        <div class="user-name">
                            <input name="username" ng-class="{'error-input':submitted && registerForm.username.$invalid}" type="email" placeholder="邮箱" ng-model="username" required>
                        </div>
                        <div class="error" ng-show="submitted && registerForm.username.$error.email">邮箱格式不对</div>
                    </div>
                    <div class="input-part">
                        <div class="login-tag-2">密码：</div>
                        <div class="user-password">
                            <input name="password" ng-class="{'error-input':submitted && registerForm.password.$invalid}" type="password" placeholder="密码" ng-model="password" required>
                        </div>
                    </div>
                    <div class="input-part">
                        <div class="login-tag-2">确认密码：</div>
                        <div class="user-password">
                            <input name="CN_password" ng-class="{'error-input':submitted&& password != password_confirm}" type="password" placeholder="确认密码" ng-model="password_confirm" required>
                        </div>
                        <div class="error" ng-show="submitted && password != password_confirm ">两次密码不一样</div>
                    </div>
                    <div class="return-login"><a ng-href="#/login">返回登录界面</a></div>
                    <button type="submit" class="login-color action_text"  ng-class= "{'btn-loading-login':password == password_confirm && registerForm.$valid && avoidClick}" ng-disabled="password === password_confirm && registerForm.$valid && avoidClick"><!--{{password == password_confirm}}{{registerForm.$valid}}&& {{avoidClick}}-->注<div class="blankControl"></div>册</button>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>
