<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
      <div class="tagList">
          <a class="list active" href="#/studio/studio_basic">基本信息</a>
          <a class="list" href="#/studio/studio_pwd">修改密码</a>
      </div>
    <div class="wrapper">
          <form name="personalInfo" novalidate>
            <div class="whitebg padding addshadow">
              <div class="profile-basic">
                  <div>
                      <span class="ve-top">头像</span>
                      <div class="profile-avatar"><img id="image_detail" ng-src="{{host}}{{studio.avatar_detail.url}}" ></div>
                      <a class="btn btn-com profile-avatar-upload" ng-click="get_avatar()">上传头像</a>
                  </div>
                  <div><span>姓名</span><input ng-class="{'pro-error-input':submitted && personalInfo.personalName.$invalid}" name="personalName" type="text"  ng-model="studio.username" required></div>
                  <div><span>电话</span><input ng-class="{'pro-error-input':submitted && personalInfo.personalPhone.$invalid}" name="personalPhone" ng-model="studio.phone" required></div>
                  <div><span>Email</span><input type="Email" class="profile-update" ng-model="studio.email" disabled="disabled"></div>
                  <div><span>描述</span><input class="profile-update" ng-model="studio.description"></div>
              </div>
            </div>
            <div class="text-center">
                <a class="newbtn enterClick" ng-click="update_studio(personalInfo.$valid)" ng-class= "{'btn-loading-login':avoidClick && personalInfo.$valid}" ng-disabled="avoidClick && !personalInfo.$valid">保存</a>
            </div>
          </form>
        </div>
</div>
<div class="avatar">
	<p>请调整裁剪范围，确认后点击保存。</p>
    <div class="avatar_left">
          <div  class="img-container">
            <img  ng-src="{{dataUrl}}" width="445" height="300"
                 ng-cropper
                 ng-cropper-proxy="cropperProxy"
                 ng-cropper-show="showEvent"
                 ng-cropper-hide="hideEvent"
                 ng-cropper-options="options">
          </div>
    </div>
    <div class="avatar_right">
       	<a class="btn_avatar_save" ng-click="crop()">保存</a>
        <a class="btn_avatar_cancel">取消</a>
    </div>
    <input type="file" onchange="angular.element(this).scope().onFile(this.files[0])" style="visibility:hidden"
           accept=".jpg,.jpeg,.bmp,.png">
</div>
<div class="wrapper_white"></div>
<div ng-include src="'templates/popup.html'"></div>