<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
          <a class="list" ng-href="#/brand/{{cur_brand_id}}">品牌信息设置</a>
          <a class="list active" ng-href="#/stylist/{{cur_brand_id}}">设计师信息</a>
    </div>
    <div class="wrapper">
        <div class="stylist addshadow" ng-repeat="i in stylist">
            <div class="info">
                <div class="left">
                    <p><label>姓名：</label><input type="text"  ng-model="i.name"/></p>
                    <p><label>简介：</label><textarea ng-model="i.summary"></textarea></p>
                </div>
                <div class="right">
                    <span class="icon icon-delete" ng-click="delete_stylist($index, i.id)"></span>
                    <!--<span class="icon icon-edit" ng></span>-->
                    <span class="icon icon-save" ng-click="update_stylist(i)"></span>
                </div>
            </div>
        </div>
        <div class="stylist addshadow">
            <div class="info">
                <div class="left">
                    <p><label>姓名：</label><input type="text"  ng-model="name"/></p>
                    <p><label>简介：</label><textarea ng-model="summary"></textarea></p>
                </div>
                <div class="right">
                    <span class="icon icon-save" ng-click="new_stylist()"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>