/*	
	
	Common.scss

	*/

		/* Position */
		@mixin PageCenter($width, $width_fix, $height, $height_fix, $padding, $position: fixed) {
			position: $position;
			top: 50%;
			left: 50%;

			width: $width;
			height: $height;

			margin-left: 0 - $padding - $width / 2 - $width_fix;
			margin-top: 0 - $padding - $height / 2 - $height_fix;
			padding: $padding;
		}

		/* 
			Color
		*/
		$white: #fff;
		$white_light: darken($white, 4%);
		$white_hover: darken($white, 8%);
		$grey: #c6c6c6;
		$grey_hover: darken($grey, 15%);		
		$dark: #4f4d4d;
		$dark_hover: darken($dark, 15%);
		$dark_lighter: lighten($dark, 20%);
		$black: #020101;
		$red: #f33;
		$red_hover: darken($red, 15%);
		$blue: #369;
		$green: #0C9;
		$green_light: darken($green, 2%);
		$green_hover: darken($green, 4%);

		/* fonts */
		@mixin font_size($size,$bold: normal) {
			@if $size == xs { $size: 12px; }
			@if $size == s { $size: 14px; }
			@if $size == m { $size: 16px; }
			@if $size == l { $size: 24px; }
			font-size: $size;
			font-weight: $bold;
		}
		$fontFamily: "Segoe UI" , Helvetica , Arial , "Hiragino Sans GB" , "Microsoft Yahei" , sans-serif;

/*

*/
			.prev_white {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $white;
			}
			.prev_navbar {
				position: fixed;
				z-index: 210;
				top: 0;
				width: 100%;
				min-width: 980px;
				height: 68px;
				background-color: #fff;
			
				.prev_logo {
					position: fixed;
					left: 50%;				
					width: 150px;
					height: 55px;				
					margin-left: -75px;				
					background-image: url(../images/bportal.png);
					background-position: -15px -155px; 
				}
			}

			/* col - 1 - 2(left) */
			.pre_leftside {
				position: fixed;
				top: 0;
				z-index: 210;
				float: left;				
				width: 180px;
				height: 100%;
				@include font_size(xs);
			}
			
			/* col - 1- 2(right) */
			.pre_rightside {
				position: relative;
				z-index: 205;
				float: left;
				width: 100%;
				min-width: 980px;
				padding-bottom: 100px;
				background-color: $white;
				@include font_size(xs);
			}

	/*
			-------------------------------------------------
			LineSheets
	
	*/
			.allbrands {
				display: block;
				margin-top: 40px;
				margin-left: 32px;
				text-indent: 24px;
				color: $dark;
				background-image: url(../images/bportal.png);
    				background-repeat: no-repeat;
				background-position: -20px -52px;
			}
			.brands {
				margin-left: 40px;
				margin-top: 10px;
				
				a {
					display: block;
					margin: 4px 0;
					color: $dark;
				}
				a:hover,
				.brands-active,
				.brand-list-active {
					color: $dark_hover;
				}
				.brand-list-active {
					font-style: italic;
				}
			}
			.brands-active:after {
				content: '';		
				display: block;
				height : 4px;	
				border-bottom: 1px solid $dark_hover;	
			}
			.brand-list {
				display: none;
			
				a {
					display: block;
					margin-left: 2em;
					line-height: 20px;
					color: lighten($dark, 20%);
				}
			}

			.linesheet {
				width: 780px;
				margin: 0 auto;
				padding-top: 65px;		
			}
			.linesheet .searchbar {
				margin-right: 160px;
				line-height: 65px;
				text-align: right;				
			}
			.linesheet .icon {
				text-align: left;
			}
			@media only screen and ( min-width: 1275px ){
				.linesheet {
					width: 1024px;
				}
				.linesheet .searchbar {
					margin-right: 75px;		
				}				
			}
			@media only screen and ( min-width: 1625px ){
				.linesheet {
					width: 1368px;
				}
			}
			@media only screen and ( min-width: 1920px ){
				.linesheet {
					width: 1650px;
				}
				.linesheet .searchbar {
					margin-right: 85px;		
				}
			}
			.item-list {
				display: inline-block;
				width: 270px;
				height: 365px;
				margin: 5px 35px 50px;
				text-align: center;
				letter-spacing: 2px;
				overflow: hidden;

				p {
					margin: 0;
				}
			
				img {
					width: 270px;
					height: 270px;
					cursor: pointer;
					
				}
				.product-name {
					padding: 10px;
					@include font_size(xs);
					color: $dark_hover;
				}
				.add,
				.confirm {
					display: block;
					width: 100px;
					padding-right: 20px;
					line-height: 34px;
					margin: 5px auto;
					color: $black;
					@include font-size(s);
					background-image: url(../images/icon_bre_1_2.png);
					background-repeat: no-repeat;
					box-sizing: content-box;
				}
				.add {
					background-position: -1px -1px;
				}
				.confirm {
					background-position: -2px -60px;
				}
			}
			@media only screen and ( min-width: 1920px ){
				.item-list {
					margin: 30px;
				}
			}



	/*
	
			-------------------------------------------------
			Brand Detail
	
	*/
			@media only screen and ( max-width: 1220px ){
				.branddetail {
					padding-left: 200px;
				}
			}
			.branddetail {
				max-width: 800px;
				margin: 0 auto;
				padding-top: 77px;
				color: $dark;

				p {
					margin: 0;

					img {
						float: none;
					}
				}

				h2 {
					@include font_size(l);
					margin: 40px 0;
				}
			
				.brand-auth {
					margin-bottom: 35px;
				
					&:after {
						content: '';
						display: block;
						border-bottom: 1px solid $grey;
						clear: both;
					}	
					
					.brand-name,
					.btnp-blank {
						display: inline;
						padding: 4px 0;
						font-size: 18px;	
					}
					.brand-name {
						float: left;
						letter-spacing: 3px;	
						vertical-align: bottom;		
					}
					.btnp-blank {
						float: right; 
						width: auto;
						padding-right: 0;
						padding-left: 2em;
						@include font_size(s);
					}
				}
				.brand-info,
				.brand-channel {
					padding: 20px 0;	
				}			
				.brand-info {
					@include font_size(s);
					line-height: 2em;
					color: $dark;
				}
				.brand-time {
					@include font_size(m);
				}
				.brand-channel {
					@include font_size(m);
					
					&:after {
						content: '';
						display: block;
						height: 50px;
						border-bottom: 1px solid $grey;
					}
				}
				.brand-logo {
					display: block;
					width: 300px;
					height: 65px;
					margin: 35px auto;
				}
				.brand-collection {
					display: block;
					max-width: 740px;
					margin: 0 auto;
				}
				.title {
					@include font_size(m);
				}
				.summary {
					margin: 20px 0;
					line-height: 2em;
					@include font_size(s);
				}
			}


	/*
	
			-------------------------------------------------
			Product Detail
	
	*/
			
			.product {
				margin-top: 20px;
				margin-left: 180px;
				margin-right: 180px;
				padding: 0 70px;

				p {
					margin: 0;
					font-size: 12px;
				}
				
				.image-all {
					position: fixed;
					width: 75px;
					padding-top: 15px;
								
					.image-list {
						display: inline-block;
						width: 65px;
						height: 65px;
						margin: 10px 5px;
						overflow: hidden;
					
						img {
							height: 65px;
							cursor: pointer;
						}
					}
				}
				
				.product-image {
					float: left;
					margin-left: 110px;
					margin-right: 35px;
			
					img {
						display: block;
						width: 90%;
						max-width: 1000px;
						margin-bottom:30px;
					}
				}

				.btnp { 
					height: auto;
					line-height: 16px;
				}
						
				.product-info {
					display: inline-block;
					position: fixed;
					width: 250px;
					margin-left: -60px;
					padding-top: 15px;
					color: $dark_hover;
					
					p {
						padding: 10px 0;
					}
					span {
						padding-right: 20px;
					}
					.product-divide {
						display: inline-block;
						padding: 15px 0 2px 0;
						margin-bottom: 10px;
						border-bottom: 1px solid $dark;
					}
					.product-name {
						padding-bottom: 15px;
						@include font_size(s);
					}
					.product-price-no {
						@include font_size(l);
						vertical-align: sub;
					}
					.product-addcart {
						padding: 20px 0;
					}
					.product-addcart {
						
						.btnp {
							width: 250px;
						}
					}
					.product-next {
						padding-bottom: 35px;

						a {
							margin-right: 10px;
						}
					}
					.product-item {
						padding: 0;
						color: $dark;
						font-size: 12px;

						li {
							margin:4px 0;

							span {
								display: inline-block;
								width: 80px;
								vertical-align: top;
							}
						}
					}
				}
			}

	/*
			-------------------------
			button

		*/
		.btnp {
			display: inline-block;
			overflow: hidden;			
			width: 100px;			
			margin: 0;
			padding: 6px 0;
			border: 1px solid $dark_hover;
			border-radius: 2px;			
			font-size: 12px;
			text-align: center;
			color: $white;			
			background: $dark;
			cursor: pointer;
		}

		.btnp-tiny {
			width: 50px;
		}
		.btnp-small {
			width: 80px;
		}
		.btnp-big {
			width: 120px;
			padding: 10px 0;
		}
		
		.btnp-hover:hover {
			background-color: $dark_hover;
		}
		
		.btnp-blank {
			border: none;
			color: $dark;
			background: none;
		}
		
		.btnp-cancel {
			color: $dark;
			border-color: $grey_hover;
			background: $white;

			&:hover {
				color: $grey_hover;
				border-color: $grey;
			}
		}

		.btnp-inverse {
			color: $white;
			border-color: $white;
			background: none;

			&:hover {
				color: $dark;
				background: $white;
			}
		}

		.btnp-delete {
			background: $red;
			border-color: $red;

			&:hover {
				background-color: $red_hover;
			}
		}

		.btnp-ok {
			border-color: $green;
			background-color: $green;

			&:hover {
				background-color: $green_hover;
			}
		}