//-----------------------------------------------ply-2015-10-08--------------------------------------------------
//全局属性
//---------------------------------------------------------------------------
*{padding:0;
  margin:0;
}
//颜色
//-------------------------------------------
//用于placeholder
$color9b:#9b9b9b; 
//用于border
$color97:#979797;
$focus-color:#3eb0f2;


//字体
//------------------------------------------
@mixin font($size:14px,$color:#333){
        font-size:$size;
        line-height:$size;
        color:$color;
}
//阴影
//------------------------------------------
%login-boxshadow{
        -webkit-box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
        -moz-box-shadow: 0 -12px 12px 12px rgba(0,0,0,0.15);
        -o-box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
}

//transition
//------------------------------------------
@mixin transition($target,$time,$changeMethod){
        -webkit-transition: $target $time $changeMethod;
        -moz-transition: $target $time $changeMethod;
        -ms-transition: $target $time $changeMethod;
        -o-transition: $target $time $changeMethod;
        transition: $target $time $changeMethod;
}
//appearance
//------------------------------------------
%appearance{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;                
}
//userselect
//------------------------------------------
%user-select{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
//placeholder style
//------------------------------------------
%place-holder{
        color:$color9b;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
input:-moz-placeholder, textarea:-moz-placeholder ,
input::-moz-placeholder, textarea::-moz-placeholder,
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        @extend %place-holder;
}
//input style
//------------------------------------------
@mixin normal-input($width:298px,$height:auto,$padding:12px,$border: 1px solid $color97){
        border-radius: 4px;
        outline: none;
        width:$width;
        height:$height;
        padding:$padding;
        border: $border;
        @include font;
        @extend %appearance;
        @include transition(border-color,0.15s,ease-in-out);
}
.login-container{
    input,textarea,select{
        @include normal-input;
        &:focus{border-color:$focus-color;}
    }
    .input-instroduce textarea{
        width:40vw
    }
    .addressPro{
        background:#fff;
        width:132px;
        height:44px;
    }
    .addressCity{
        background:#fff;
        width:92px;
    }
    .uploadIMcontainer input{
        position:absolute;
        left:0;
        top:0;
        opacity:0;
        z-index :10;
        width:98px;
        height: 37px;
    }
}
//外部容器样式
//------------------------------------------
.login-container{
    position:relative;
}
//头部样式
//------------------------------------------
.header {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    margin-top: -68px;
    left: 0;
    padding: 25px 0;
    position: relative;
    top: 0;
    z-index: 20;
}
.fn-clear:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.fn-clear:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.wrap {
    margin: 0 auto;
    width: 70vw;
}
.fn-left {
    float: left;
}
.wrap-container{
    background: url(../images/banner.jpg) no-repeat;
    background-size:100%;
    width:100%;
    min-height:76vh;
    z-index:21;
    padding:40px 0;
}
.login-wrap{
    font-size:14px;
    background: rgba(255,255,255,0.9);
    background-size: 100%;
    margin:0 auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 -12px 12 12px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
    padding:42px 0;
    min-width:340px;
    min-height:400px;
    width:70vw;
}
.wrap-container .login-wrap-login{
    width:28vw;
    margin-left:60%;
}
.login-content{
    width:300px;
    margin:0 auto;
}
.login-color:hover{
    & .blankControl{width:28px;}
}
.blankControl{
    width:14px;
    display:inline-block;
    @include transition(width,0.3s,ease-in-out);
}
.login-content>div:nth-child(2){
    margin-top: 34px;
}
.login-content>div:nth-child(3){
    margin-top: 11px;
}
.input-part{
    margin-top: 10px;
    position:relative;
}
.login-tag-1{
    font-size: 18px;
    color:#444444;
    text-align: center;
}
.login-tag-2{
    width:100%;
    padding:12px 0 12px 0;
    color:#333;
    line-height: 14px;
}
.login-color,.login-no-color,.login-color-follow{
    display:block;
    width:300px;
    text-align: center;
    margin:auto 0;
    font-size:16px;
    line-height:16px;
    padding: 14px 0;
    border-radius:4px;
    cursor:pointer;
    border:none;
    overflow:hidden;
    @extend %user-select;
    @extend %appearance;
}
.login-color{
    color: #fff;
    background-color:#4a4a4a;
    margin-top:56px;
}
.login-no-color {
    color: #000;
    margin-top: 12px;
    border:1px solid #4a4a4a;
    background-color: #fff;

}
.login-no-color:hover{
    color:#fff;
    background-color:#4a4a4a;
}
.action_text{
    text-align:center;
    display:inline-block;
    font-weight: 600;
}

.user-address input{
    width:150px;
    float:left;
}



.marginAutoinput{
    margin:24px auto;
    width:300px;
}
.login-wrap .login-content .forget-pwd, .login-wrap .login-content .return-login{
    text-align: right;
    width:100%;
    height:auto;
    margin-top: 0;

}
.forget-pwd a,.return-login a{
    float:right;
    text-decoration:underline;
    color:#979797;
    cursor: pointer;
    line-height:14px;
}
.forget-pwd a{
    width:64px;
}
.return-login a{
    width:96px;
}
.forget-pwd a:hover,.return-login a:hover{
    color: #333;
}

.add-arror{float:left;width:94px;}
.add-arror:after{
     background: url("../images/icon_bre.png") no-repeat;
     background-position: -5px -90px;
     content : "";
     position: absolute;
     top:6px;
     right:6px;
     width: 24px;
     height: 20px;
     pointer-events:none;
}
.addr-detail{margin-top: 12px;}
.user-NM,.user-email,.user-tel,.brand-NM{position:relative;}
.error{color:#ff8f78;}
.error-input{
    border:1px solid #ff8f78!important;
}
.login-content button{display: block;width:300px;}
.user-name .error{float:left;}
/*表单验证*/
.pro-error-input{
    border:1px solid red !important;
}
/*禁点按钮*/
.disabledButton{
    cursor:wait!important;
    background-color:rgb(221, 221, 221)
}
.disabledButton:hover{
    background-color:rgb(221, 221, 221)!important;
    color:#4a4a4a;
}
/*激活*/
.activateEmail{
    margin-top:64px;
    margin-bottom:24px;
}
/*转圈按钮*/
.btn-loading {
    position: relative;
    border-color: #c6c6c6;
}

.btn-loading:before {
    content: '请稍后';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -208px;
    margin-top: -100px;
    padding: 0;
    color: #a0a0a0;
    line-height: 200px;
    background-color: #e6e6e6;
}

.btn-loading:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left:18px;
    margin-top: -9px;
    padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #ccc #aaa #aaa #aaa;
    transition: all .3s ease-in-out;
    transform: rotate(360deg);
    animation: rotate 0.8s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.btn-loading-login{
    position: relative;
    border-color: #c6c6c6;
}

.btn-loading-login:before {
    content: '';
    opacity:0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -208px;
    margin-top: -100px;
    padding: 0;
    color: #a0a0a0;
    line-height: 200px;
    background-color: #e6e6e6;
}

.btn-loading-login:after {

    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: 18px;
    margin-top: -9px;
    padding: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: #ccc #aaa #aaa #aaa;
    transition: all .3s ease-in-out;
    transform: rotate(360deg);
    animation: rotate 0.8s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*注册分块*/
.register-content{
    width:40vw;
    margin:0 auto;
}
.user-tag{
    position:absolute;
    left:-96px;
    top:9px;
    color:#444444;
}
.login-wrap .login-content .login-color-follow{
    color: #fff;
    background-color: #4a4a4a;
    margin-top:16px;    
}
.add_attention{
    font-size:12px;
    width:365px;
    margin-top:8px;
}
.addressPro,.addressCity{
    cursor:pointer;
}
.userAddress{
    overflow:hidden;
    width:40vw;
}
.userAddress input{
        width:150px;
        float:left;
        margin-right:2vw;
        margin-bottom:1vh;
}
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; clear: both; visibility: hidden; height: 0; }

.post{
    width:300px;
    margin:auto;
}
.uploadIMcontainer{
    position:relative;
    margin-bottom:24px;
    border-radius:4px;
    overflow:hidden;
    padding:12px;
    width:50px;
    border:1px solid $color97;
    @include transition(border-color,0.3s,ease-in-out);
    &:hover{
        background:#4a4a4a;
        color:#fff;}
    text-decoration: none;
    cursor:pointer;
}


.modelConfirm{
    position:absolute;
    min-height:100%;
    width:100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 999;
}
.model_conf{
    background-color:#fff;
    width:55%;
    margin:auto;
    left:0;
    margin-top:10%;
    padding: 12px 0 24px 0;
    border-radius:4px;
}
.model_confcontainer{
    overflow:auto;    
}
.logingo{
    text-decoration:underline;    
}
