<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
        <div class="tagList">
          <a class="list" href="#/product_manage">商品信息</a>
          <a class="list active" href="#/collection">系列设置</a>
        </div>
    <div class="wrapper">
        <div class="xilie addshadow">
            <div class="table-collection">
                <div class="col-select"></div>
                <div class="col-name">系列名称</div>
                <div class="col-action">操作</div>            
            </div>
            <div class="">
                <div class="table-list" ng-repeat="c in collections">
                    <div class="col-select"><a class="icon-arror" ng-click="show_detail($event)" ></a></div>
                    <div class="col-name"><input type="text" ng-model="c.title" /></div>
                    <div class="col-action">
                    	<a class="icon icon-delete" ng-click="delete_collection($index, c.id)"></a>
                        <a class="icon icon-edit" ng-click="show_detail($event)"></a>
                        <a class="icon icon-save" ng-click="update_collection(c)"></a>
                        <a class="icon icon-save" href="#/linesheet" target="_blank"></a>
                    </div>
                    <div class="col-detail">
                    	<div class="col-detail-title">
                        	<i class="col-detail-corner"></i>
                            <span>系列简介</span>
                        </div>
                        <div class="col-detail-content">
                        	<a class="col-detail-arror"></a>
                            <textarea class="col-detail-article" ng-model="c.description"></textarea>
                        </div>
                    </div>  
                </div>
                <div class="table-list">
                    <div class="col-select"><a class="col-action-add">+</a></div>
                    <div class="col-name"><input type="text" ng-model="title"/></div>
                    <div class="col-action">
        				<a class="col-action-save" ng-click="add_collection()">保存</a>
                    </div>
                    <div class="col-detail col-detail-active">
                    	<div class="col-detail-title">
                        	<i class="col-detail-corner"></i>
                        </div>
                        <div class="col-detail-content">
                        	<a class="col-detail-arror"></a>
                            <textarea class="col-detail-article" ng-model="description"></textarea>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>
