<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="wrapper">
        <h3>优惠券设置</h3>
        <div class="coupon-filter">
			<a class="icon icon-check" id="check_all" ng-click="couponSelectAll($event)">全选</a>
        	<a class="coupon-used">总数({{ coupons.length }})</a>
            <a class="coupon-free">未使用({{ (coupons | filter: { status: 0 }).length }})</a>
            <div class="coupon-action">
            	<a class="btn btn-com" ng-click="addCoupon()"> + 添加优惠券</a>
                <a class="btn btn-com" role="button" ng-click="delete_coupon_list()">删除</a>
            </div>
        </div>
        <table class="table-normal tb-coupon" cellspacing="0">
            <tr>
                <th width="65"></th>
                <th width="65">序列</th>
                <th>折扣码</th>
                <th>折扣</th>
                <th width="100">状态</th>
                <th width="80"></th>
            </tr>
            <tr ng-repeat="c in coupons">
            	<td><a class="icon icon-check" ng-click="couponSelect($event, c)"></a></td>
                <td>{{ $index + 1 }}</td>
                <td>{{ c.code }}</td>
                <td>{{ c.discount }}%</td>
                <td>{{ status[c.status] }}</td>
                <td>
                	<a class="icon icon-delete" role="button" ng-click="delete_coupon(c.id, $index)"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="msg-addCoupon">
	<a class="icon icon-close" ng-click="closeCoupon()"></a>
    <p>折扣：<input type="text" class="txt" /></p>
    <p>数量：<input type="text" class="txt" /></p>
    <a class="btn btn-action btn-l" role="button">生成优惠码</a>
</div>
<div ng-include src="'templates/popup.html'"></div>