<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div id="data_list" class="wrapper indexmain">
    	<div class="data_one clearfix">
    		<div class="ab_left addshadow whitebg">
    			<div class="title">订货总金额</div>
    			<div class="info">
					<ul>
						<li>今日：&yen;38212.2</li>
						<li>本月：&yen;38212.2</li>
						<li>上月：&yen;38212.2</li>
						<li>累计：&yen;38212.2</li>
					</ul>
    			</div>
    		</div>
 			<div class="left addshadow">
                <div class="title clearfix">
                    <div class="min_left">订货金额</div>
                    <div class="min_right">
                        <span>最近七天</span>
                        <span>最近30天</span>
                        <span>六个月</span>
                    </div>
                </div>
                <div class="data">
                    <canvas id="data_one_canvas" height="92"></canvas>
                </div>
                <div class="bot center">
                    <img src="images/dou.png" />
                    <span>已完成订单交易总金额</span>
                </div>
            </div>
    	</div>
    	<div class="data_two clearfix">
    		<div class="ft_left tot_one addshadow whitebg">
				<div class="title">最热商品</div>
				<div class="info clearfix">
					<div class="small_left">
						<div class="statu">
	                        <em>50%</em>
	                        <span>3件</span>
	                    </div>
    					<canvas id="data_two_canvas" height="130"></canvas>
	    			</div>
	    			<div class="small_right">
	    				<ul>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    					<li><span></span><p>衣服名称</p></li>
	    				</ul>
	    			</div>
				</div>
    		</div>
    		<div class="ab_right tot_two addshadow whitebg">
    			<div class="title">订货总金额</div>
    			<div class="info">
					<ul>
						<li>本月：28</li>
						<li>上月：40</li>
						<li>累计：80</li>
					</ul>
    			</div>
    		</div>
    	</div>
    	<div class="data_three">
    		<div class="left addshadow">
                <div class="title clearfix">
                    <div class="min_left">订货单数</div>
                    <div class="min_right">
                        <span>最近七天</span>
                        <span>最近30天</span>
                        <span>六个月</span>
                    </div>
                </div>
                <div class="data">
                    <canvas id="data_three_canvas" height="90"></canvas>
                </div>
                <div class="bot center">
                    <img src="images/dou2.png" />
                    <span>订货单数</span>
                </div>
            </div>
    	</div>
    	<div class="data_two data_four clearfix">
    		<div class="ab_left tot_two addshadow whitebg">
    			<div class="title">订货总金额</div>
    			<div class="info">
					<ul>
						<li>本月：28</li>
						<li>上月：40</li>
						<li>累计：80</li>
					</ul>
    			</div>
    		</div>
    		<div class="ft_right tot_one addshadow whitebg">
				<div class="title">最热商品</div>
				<div class="info clearfix">
					<div class="small_left">
						<div class="statu">
	                        <em>50%</em>
	                        <span>3件</span>
	                    </div>
    					<canvas id="data_four_canvas" height="120"></canvas>
	    			</div>
	    			<div class="small_right">
	    				<ul>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    					<li><span></span><p>买手店</p></li>
	    				</ul>
	    			</div>
				</div>
    		</div>
    	</div>	
    	<div class="data_five">
			<div class="left addshadow">
                <div class="title clearfix">
                    <div class="min_left">订货客户数</div>
                    <div class="min_right">
                        <span>最近七天</span>
                        <span>最近30天</span>
                        <span>六个月</span>
                    </div>
                </div>
                <div class="data">
                    <canvas id="data_five_canvas" height="90"></canvas>
                </div>
                <div class="bot center">
                    <img src="images/dou3.png" />
                    <span>订货客户数</span>
                </div>
            </div>
    	</div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>
