<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
        <a class="list active">在线订货</a>
    </div>
    <div class="wrapper">
        <div class="message-box">
            <div class="message-head">
                消息共&nbsp;<strong>{{ data.total }}</strong>&nbsp;条，
                其中&nbsp;<span class="notice-font">未读消息</span>&nbsp;<strong>
                {{ data.unread }}</strong>条
            </div>
            <div class="message-body addshadow" ng-repeat="m in data.msg">
                <div>
                    <img class="user-image-message" ng-hide="!m.send_avatar.url" ng-src="{{host}}{{ m.send_avatar.url }}"/>
                </div>
                <div class="message-window">
                    <div>
                        <div class="user-name">{{ m.sender }}</div>
                        <div class="user-role">买手</div>
                        <div class="user-say">{{ m.message[m.message.length-1].message }}</div>
                        <div class="time">{{ m.message[m.message.length-1].create_time  | date:'yyyy-MM-dd h:mm:ss' }}</div>
                        <div class="answer" ng-click="trigger_reply(m)">回复</div>
                    </div>
                    <form name="MSGForm" class="answer-win-container" ng-show="m.show_reply" novalidate>
                        <div class="user-say-body-container">
                            <div class="user-say-body" ng-repeat="n in m.message">

                                <div class="buyer-msg" ng-if="n.sending == false">
                                    {{n.message}}
                                    <div class="answer-detail">{{ m.sender }}</div>
                                    <div class="answer-detail">
                                        {{ n.create_time  | date:'yyyy-MM-dd h:mm:ss' }}
                                    </div>
                                </div>
                                <div class="brand-msg" ng-if="n.sending == true">
                                    {{n.message}}
                                    <div class="answer-detail">我</div>
                                    <div class="answer-detail">
                                        {{ n.create_time  | date:'yyyy-MM-dd h:mm:ss' }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="answer-win">
                            <input name="answer" type="text" ng-model="m.reply" required/>
                            <button class="btn btn-action send-message" ng-click="send_message(m)" ng-class= "{'btn-loading-login':avoidClick}" ng-disabled="avoidClick">发送</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>
