<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
	<div class="tagtitle">导出订单 </div>
    <div class="wrapper">
        <div class="output addshadow whitebg clearfix">
        	<a>起始时间<input type="text" id="start" class="txt txt-com" readonly></a>
            <a>终止时间<input type="text" id="end" class="txt txt-com" readonly></a>
            <a class="btn btn-action enterClick" role="button" ng-click="export_order()" ng-class= "{'btn-loading-login':avoidClick}" ng-disabled="avoidClick">导出</a>
        </div>
      </div>
</div>
<div ng-include src="'templates/popup.html'"></div>