<div class="prev_white">
        <div class="prev_navbar">
                <i class="prev_logo"></i>
        </div>
</div>
<div ng-include src="'templates/preview_menu.html'"></div>
<div class="pre_rightside">
        <div class="linesheet">         
                <div class="item-list" ng-repeat="product in products" ng-hide="product.last_order_time_status == 0">                   
                        <img ng-src="{{host}}{{ product.image.url}}"  ng-click="detail_page(product.id)">
                        <p class="product-name">{{ product.name | limitTo: 16 }}</p>
                        <p><a class="add">￥{{ product.price }}</a></p>
                </div>
        </div>
</div>