<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagtitle">{{ product.name }} </div>
    <div class="wrapper product-info">
        <div class="thetop"></div>
        <div class="addshadow whitebg margintop">
            <div class="info-head">图片信息</div>
            <div class="product-head">
                <div class="l-image">
                    <a href="{{host}}{{product.images[0].image_detail.url}}" class="fancybox-effects-d"><img height="230" width="230" ng-src="{{host}}{{product.images[0].image_detail.url}}"/></a>
                </div>
                <div class="s-image-show-container">
                    <div class="s-image-show" ng-click="bigImg($event)"  ng-repeat="i in product.images" ng-show="!$first">
                        <a rel="group" href="{{host}}{{i.image_detail.url}}" class="fancybox-effects-d"><img height="150" width="150" ng-src="{{host}}{{i.image_detail.url}}" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="addshadow whitebg">
            <div class="info-head" >商品资料</div>
            <div class="container-line">
                <div class="productlist">
                    <p>
                        <span class="label-name">零售价:</span>
                        <span class="spanbox">{{ product.price }}</span>
                    </p>
                    <p>
                        <span class="label-name">性别:</span>
                        <span  class="spanbox">{{ product.gender }}</span>
                    </p>
                    <p>
                        <span class="label-name">系列:</span>
                        <span  class="spanbox">{{ product.collection.title }}</span>
                    </p>
                </div>
                <div class="productlist">
                    <p>
                        <span class="label-name">商品简介:</span>
                        <span class="spanbox" data-ng-bind-html="product.description">{{ product.description }}</span>
                    </p>
                </div>
                <div class="productlist">
                    <p>
                        <span class="label-name">颜色:</span>
                        <span class="spanbox">{{ product.color }}</span>
                    </p>
                    <p>
                        <span class="label-name">色号:</span>
                        <span class="spanbox">{{ product.color_code}}</span>
                    </p>
                    <p>
                        <span class="label-name">洗涤方式:</span>
                        <span class="spanbox">{{ product.washing_method }}</span>
                    </p>
                </div>
                <div class="productlist">
                    <p>
                        <span class="label-name">面料:</span>
                        <span class="spanbox" data-ng-bind-html="product.composition">{{ product.composition }}</span>
                    </p>
                 </div>
            </div>
        </div>
        <div class="addshadow whitebg">
            <div class="info-head" id="3">尺码信息</div>
            <div class="container-line">
            <div class="size-table-container">
                <table class="size-table" style="border-collapse: collapse;">
                    <thead>
                    <tr class="label-name">
                        <th>尺寸</th>
                        <th>商家编码</th>
                        <th>商品条形码</th>
                        <th>尺寸明细</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="i in product.sizes">
                        <td>{{ i.size }}</td>
                        <td>{{ i.sku }}</td>
                        <td>{{ i.barcode }}</td>
                        <td>{{ i.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        <div class="addshadow whitebg">
            <div class="info-head" >渠道</div>
            <div class="container-line" ng-show="product.online_sale">
                <div class="buy-category">
                    <div class="checkbox icon-right"></div>
                    <span>&emsp;在线订货 </span>
                </div>
                <div class="category-detail ">
                    <!--<div><span class="label-name">支付方式：</span>{{ product.payment_term }}</div>-->
                    <div class="plnone padsix">
                        <span class="label-name">批发价：</span>
                        <span>{{product.wholesale_price}}</span>
                    </div>
                    <!--<div class="label-name">类别：<span>{{categories[air_category]}}</span></div>-->
                    <div class="plnone padsix">
                        <span class="label-name">供货尺码：</span>
                        <span ng-repeat="i in product.sizes" ng-hide="'' === i.wholesale">
                            <span>{{i.size}}</span>
                        </span>
                    </div>
                    <div class="price-table-container" ng-show="product.wholesale_prices">
                        <table class="pricetable" >
                            <tr>
                                <th class="label-name">批发数量（件）</th>
                                <th class="label-name">价格</th>
                            </tr>
                            <tr>
                                <td><div class="buy-num">起批数量：{{ product.wholesale_prices[0].min_number }}&nbsp;&nbsp;件</div></td>
                                <td><div class="buy-price">价&nbsp;&nbsp;格：&yen;{{product.wholesale_prices[0].price}}</div></td>
                            </tr>
                            <tr ng-repeat="i in product.wholesale_prices" ng-hide="i.deleted || $first">
                                <td><div class="buy-num">大于等于:{{i.min_number}}&nbsp;&nbsp;件</div></td>
                                <td><div class="buy-price">价&nbsp;&nbsp;格：&yen;{{i.price}}</div></td>
                            </tr>
                        </table>
                    </div>
                    <div class="plnone padsix">
                        <span class="label-name">最后下单时间：</span>
                        <span ng-class="{'notice': product.last_order_time < nowTime}">{{product.last_order_time | date:'yyyy-MM-dd' }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="deal-btn">
            <a class="btn-product-delete" ng-click='confirm_delete()'>删除</a>
            <a class="btn-product-edit" ng-click='edit_product(product.id)'>编辑</a>
        </div>
        <!--删除确认弹窗-->
        <div class="confirm-head" id="delete-product">
              <div>
                  <p>商品删除后，无法恢复。</p>
                  <p>确定删除吗？</p>
              </div>
       </div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>