<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-click="hideSort()" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
        <a class="list active" href="#/product_manage">商品信息</a>
        <a class="list" href="#/collection">系列设置</a>
    </div>
    <div class="wrapper">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="search-head-1">所有商品<span>({{products.length}})</span></div>
                <label class="saixuan" ng-click="choose()"><span class="choose-label">筛选</span><a class="icon icon-dpd"></a></label>
                <label class="choose-wrapper">
                    <div class="choose-container whitebg" ng-show="showSort" >
                        <div ng-click="proOrder('created',true,'添加时间降序')" class="sort-label" >添加时间降序</div>
                        <div ng-click="proOrder('created',false,'添加时间升序')" class="sort-label" >添加时间升序</div>
                        <div ng-click="proOrder('price',true,'价格降序')" class="sort-label" >价格降序</div>
                        <div ng-click="proOrder('price',false,'价格升序')" class="sort-label" >价格升序</div>
                    </div>
                      <span  class="sort-show-label eTarget" ng-click="showOrder()">{{sortWay}}</span>
                      <a  class="icon icon-dpd eTarget" ng-click="showOrder()" ng-hide="showSort"></a>
                </label>
                <a class="btn btn-com btn-xs" href="#/product_new" role="button">+ 新建商品</a>
                <a class="btn btn-com btn-xs" ng-click="preview_linesheet()" role="button">预览订货页面</a>
            </div>
            <div class="sxFrom yinchang addshadow" ng-show="show">
              <div class="form-group">
                <div class="col-lg-2 control-label">系列:</div>
                  <div class="col-lg-10">
                      <div class="label-con" ng-repeat="c in collections">
                        <input type="checkbox" ng-model="col_filter[c.title]" ng-true-value="{{c.id}}" ng-false-value="''">
                          {{c.title}}
                      </div>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">性别:</label>
                <div class="col-lg-10">
                    <div class="label-con">
                      <input type="checkbox" ng-model="gender_filter['all']" ng-true-value="'全部'" ng-false-value="''">全部
                    </div>
                    <div class="label-con">
                      <input type="checkbox" ng-model="gender_filter['male']" ng-true-value="'男装'" ng-false-value="''">男装
                    </div>
                    <div class="label-con">
                      <input type="checkbox" ng-model="gender_filter['female']" ng-true-value="'女装'" ng-false-value="''">女装 </div>
                </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-2 control-label">接受预定:</label>
                  <div class="col-lg-10">
                    <div class="label-con">
                        <input type="checkbox" ng-model="pre_order_filter['0']" ng-true-value='true' ng-false-value="''" >是
                    </div>
                    <div class="label-con">
                        <input type="checkbox" ng-model="pre_order_filter['1']" ng-true-value='false' ng-false-value="''">否
                    </div>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">价格:</label>
                <div class="col-lg-3">
                  <input min="0" type="number" class="form-control" placeholder="最低零售价" ng-model="filter_data.min_price">
                </div>
                  <div class="hold-height">～</div>
                <div class="col-lg-3">
                  <input min="0" type="number" class="form-control" placeholder="最高零售价" ng-model="filter_data.max_price">
                </div>
              </div>
              <div class="form-group">
                  <label class="col-lg-2 control-label">商品信息:</label>
                  <div class="col-lg-3">
                      <input type="text" class="form-control" placeholder="商品名称" ng-model="filter_data.name">
                  </div>
                  <div class="col-lg-3">
                      <input type="text" class="form-control" placeholder="商品编码" ng-model="filter_data.sku">
                  </div>
              </div>
              <div class="form-search">
                <div class="col-lg-10 col-lg-offset-2">
                  <a class="btn-search enterClick" ng-click="filter_products()" ng-class= "{'btn-loading-login':avoidClick}" ng-disabled="avoidClick"><span class="icon icon-search"></span><span>搜索</span></a>
              </div>
              <div class="btn-reset" ng-click="order_reset()"> 重置 </div>
            </div>
        </div>
        </form>
        <div class="product_container clearfix">
            <div class="col-md-4 ProductManagelist box" ng-repeat="product in products | orderBy:order_by:reverse">
                <a href="#/products/{{product.id}}/">
                <img class="Productimage" ng-src="{{host}}{{product.image.url}}">
                </a>
                <div class="ProductName">
                    <div class="product-nm"><a href="#/products/{{product.id}}/">{{ product.name }}</a></div>
                    <div class="down-info" ng-show="product.status==3">已下架</div>
                </div>
                <div class="product_season_container">
                    <span class="ProductSeason">
                        {{product.collection}}
                    </span>
                    <span class="ProductPrice">
                        &yen;{{ product.price }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>








