<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/login.css" rel="stylesheet" media="screen">
    <!--<link href="css/ngCropper.all.min.css" rel="stylesheet" media="screen">-->
    <title>Air</title>
</head>
<body ng-app="jeanineApp">
    <script src="js/message_bre.js"></script>
        <div class="login-container">
            <div class="header">
                <div class="wrap fn-clear">
                    <a class="fn-left" href="javascript:;">
                        <img src="images/logo.png"/>
                    </a>
                </div>
            </div>
            <div class="wrap-container banner">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-tag-1">修改密码</div>
                        <div>
                            <div class="login-tag-2">设置新密码：</div>
                            <div class="user-name">
                                <input type="password" placeholder="密码不得少于六位" ng-model="new_password">
                            </div>
                        </div>
                        <div>
                            <div class="login-tag-2">确认密码：</div>
                            <div class="user-name"><input type="password" ng-model="new_password_confirm"/></div>
                        </div>
                        <div class="return-login"><a ng-href="#/login">返回登录界面</a></div>
                        <a class="login-color" ng-click="reset_pwd()">保&nbsp;&nbsp;存</a>
                    </div>
                </div>
            </div>
        </div>    
</body>
</html>
