<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
        <a class="list active">在线订货</a>
    </div>
    <div class="wrapper">
        <div class="statistic-select">
        </div>
        <p>Coming Soon...</p>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>
<!--<div class="section">
    <div class="container" ng-class="{'smallmenu': menubool}">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>变量</th>
                            <th>今日</th>
                            <th>累计</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>下单总数</td>
                            <td>num</td>
                            <td>num</td>
                        </tr>
                        <tr>
                            <td>下单人数</td>
                            <td>num</td>
                            <td>num</td>
                        </tr>
                        <tr>
                            <td>品牌页面浏览量</td>
                            <td>num</td>
                            <td>num</td>
                        </tr>
                        <tr>
                            <td>品牌页面浏览人数</td>
                            <td>num</td>
                            <td>num</td>
                        </tr>
                        <tr>
                            <td>销售额</td>
                            <td>num</td>
                            <td>num</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container" ng-class="{'smallmenu': menubool}">
        <div class="row">
            <div class="col-md-6">
                <img src="img/s1.png"
                class="img-responsive">
            </div>
            <div class="col-md-6">
                <h1>每月销售量</h1>
                <h3>线性图</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container" ng-class="{'smallmenu': menubool}">
        <div class="row">
            <div class="col-md-6">
                <h1>每月成交数量</h1>
                <h3>线性图</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi.</p>
            </div>
            <div class="col-md-6">
                <img src="img/s2.png"
                class="img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container" ng-class="{'smallmenu': menubool}">
        <div class="row">
            <div class="col-md-6">
                <img src="img/s3.png"
                class="img-responsive">
            </div>
            <div class="col-md-6">
                <h1>每月成交用户数</h1>
                <h3>线性图</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container" ng-class="{'smallmenu': menubool}">
        <div class="row">
            <div class="col-md-6">
                <img src="img/s4.png"
                class="img-responsive">
            </div>
            <div class="col-md-6">
                <h1>销售额地域分布</h1>
                <h3>地图</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                    dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                    nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
                    felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
                    elementum semper nisi.</p>
            </div>
        </div>
    </div>
</div>
-->