<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
      <a class="list active" ng-href="#/brand/{{cur_brand_id}}">品牌信息设置</a>
      <a class="list" ng-href="#/stylist/{{cur_brand_id}}">设计师信息</a>
    </div>
    <div class="wrapper">
        <div class="brand-edit-panel clearfix">
            <div class="brand-logo">
                <p class="brand-logo-title">LOGO:</p>
                <img class="brand-logo-img" ng-src="{{host}}{{brand.image_detail.url}}" alt="">
                <a class="btn btn-com" ng-click="get_avatar()">上传图片</a>
                <div class="inlineb shangtu">
                    <a class="iconHelp"  ng-click="showRelaDiv($event)" ng-mouseout="hideRelaDiv($event)" data-tip="该logo将覆盖Bredgy的logo，出现在您的面板上方。同时，如果您已加入BredgyPortal订货平台，该logo将同步展示在那里。">?</a>
                </div>
            </div>
            <div class="brand-info">
                <p>*品牌名称</p>
                <input type="text" class="txt txt-full"  ng-model="brand.name"/>
                <p>*成立时间</p>
                <input type="text" class="txt txt-full" ng-model="brand.create_time" />
                <p>*品牌介绍</p>
                <textarea class="txta" ng-model="brand.description"></textarea>
                 <p>*现有渠道</p>
                 <div class="qudao">
                <textarea ng-focus="showRelaDiv($event)" ng-blur="hideRelaDiv($event)" data-tip="填入现有的零售渠道，例如买手店名等，每一行输入一个。" class="brand-txta" ng-model="brand.channels"></textarea>
                </div>
            </div>
        </div>
        <div class="text-center">
          <a class="newbtn enterClick" role="button" ng-click="updateBrand()" ng-class= "{'btn-loading-login':avoidClick}" ng-disabled="avoidClick">保存</a>
        </div>
    </div>
</div>
<div class="avatar">
	<p>请调整裁剪范围，确认后点击保存。</p>
    <div class="avatar_left">
          <div  class="img-container">
            <img  ng-src="{{dataUrl}}" width="800" height="300"
                 ng-cropper
                 ng-cropper-proxy="cropperProxy"
                 ng-cropper-show="showEvent"
                 ng-cropper-hide="hideEvent"
                 ng-cropper-options="options">
          </div>
    </div>
    <div class="avatar_right">
       	<a class="btn_avatar_save" ng-click="crop_image()">保存</a>
        <a class="btn_avatar_cancel">取消</a>
    </div>
    <input type="file" onchange="angular.element(this).scope().onFile(this.files[0])" style="visibility:hidden"
           accept=".jpg,.jpeg,.bmp,.png">
</div>
<div class="wrapper_white"></div>
<div ng-include src="'templates/popup.html'"></div>