<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="wrapper" id="indexbox">
        <div class="indextop clearfix">
            <div class="box box_a">
                <a href="#/product_new"> 
                    <span class="img"><img src="images/h1.png" /></span>
                    <span class="tit"><em>+</em> <i>新建商品</i>
                    </span>
                </a>
            </div>
            <div class="box box_b">
                <a href="#/orders_new">
                    <span class="img"><img src="images/h2.png" /></span>
                    <span class="tit"><em>+</em> <i>新建订单</i></span>
                </a>
            </div>
            <div class="box box_c">
                <a ng-click="NewBuyerShow()">
                    <span class="img"><img src="images/h3.png" /></span>
                    <span class="tit"><em>+</em> <i>新建买手</i></span>
                </a>
            </div>
            <div class="box box_d">
                <a>
                    <span class="img"><img src="images/h4.png" /></span>
                    <span class="tit"><em>+</em> <i>发送Lookbook</i></span>
                </a>
            </div>
            <div class="box box_e">
                <a>
                    <span class="img"><img src="images/h5.png" /></span>
                    <span class="tit"><em>+</em> <i>生成linesheet</i></span>
                </a>
            </div>
        </div>
        <div class="indexmain clearfix">
            <div class="left addshadow">
                <div class="title clearfix">
                    <div class="min_left">订货金额</div>
                    <div class="min_right">
                        <span ng-click="seven_day()" ng-class="{'selected':seven_day_bool}">最近七天</span>
                        <span ng-click="one_month()" ng-class="{'selected':one_month_bool}">最近30天</span>
                        <span ng-click="six_month()" ng-class="{'selected':six_month_bool}">六个月</span>
                    </div>
                </div>
                <div class="data" ng-show="seven_day_bool">
                    <canvas id="seven_day" height="120"></canvas>
                </div>
                <div class="data" ng-show="one_month_bool">
                    <canvas id="one_month" height="120"></canvas>
                </div>
                <div class="data" ng-show="six_month_bool">
                    <canvas id="six_month" height="120"></canvas>
                </div>
                <div class="bot center">
                    <img src="images/dou.png" />
                    <span>已完成订单交易总金额</span>
                </div>
            </div>
            <div class="right addshadow">
                <div class="title">订单状态</div>
                <div class="data_two">
                    <div class="statu" ng-show="cli_a">
                        <em>未确认</em>
                        <span>300</span>
                    </div>
                    <div class="statu" ng-show="cli_b">
                        <em>进行中</em> 
                        <span>50</span>
                    </div>
                    <div class="statu" ng-show="cli_c">
                        <em>已完成</em>
                        <span>100</span>
                    </div>
                    <div class="statu" ng-show="cli_d">
                        <em>已作废</em>
                        <span>40</span>
                    </div>
                    <canvas id="main_canvas_two" height="227"></canvas>
                </div>
                <div class="data_statu">
                    <div class="cont one" ng-click="click_a()"><span></span><p>未确认</p></div>
                    <div class="cont two" ng-click="click_b()"><span></span><p>进行中</p></div><br/>
                    <div class="cont three" ng-click="click_c()"><span></span><p>已完成</p></div>
                    <div class="cont four" ng-click="click_d()"><span></span><p>已作废</p></div>
                </div>
            </div>
        </div>
    </div>  
</div>
<div ng-include src="'templates/popup.html'"></div>
 