<div class="menu" ng-class="{'smallmenu': menubool}">
    <ul class="menu-list">
        <li class="lista" ng-class="{ 'active': isActive('/') }">
            <a href="#/" title="主页">
                <span class="font">主页</span>
            </a> 
        </li>
        <li class="listb" ng-class="{ 'active': isActive('/product_manage') }">
            <a href="#/product_manage" title="商品管理">
                <span class="font">商品管理</span>
            </a>
        </li>
        <li class="listc" ng-class="{ 'activetwo': isOrderActive()}">
            <a ng-click="showMenu2($event)" title="订单管理">
                <span class="font">订单管理</span>
            </a>
            <div class="menuson">
                <a href="#/orders_unconfirm" ng-class="{ 'activethree': isActive('/orders_unconfirm')}" title="未确认"><span>未确认</span></a>
                <a href="#/orders_underway" ng-class="{ 'activethree': isActive('/orders_underway')}" title="进行中"><span>进行中</span></a>
                <a href="#/orders_finish" ng-class="{ 'activethree': isActive('/orders_finish')}" title="已完成"><span>已完成</span></a>
                <a href="#/orders_cancel" ng-class="{ 'activethree': isActive('/orders_cancel')}" title="已作废"><span>已作废</span></a>
                <a href="#/orders_all" ng-class="{ 'activethree': isActive('/orders_all')}" title="全部订单"><span>全部订单</span></a>
            </div>
        </li>
        <li class="listd" ng-class="{ 'active': isActive('/data_list')}">
            <a href="#/data_list" title="数据统计">
                <span class="font">数据统计</span>
            </a>
        </li>
        <li class="liste" ng-class="{ 'active': isActive('/buyer_list')}">
            <a title="用户管理" href="#/buyer_list">
                <span class="font">用户管理</span>
            </a>
        </li>
    </ul>
    <div class="whitelogo" ng-show="!menubool"></div>
    <div class="whitelogo trans" ng-show="menubool"></div>
</div>
