<header>
    <div class="head">
        <div class="left">
            <a class="icon icon-menu" ng-click="show_hide_menu()" role="button"></a>
        </div>
        <div class="logo"><img ng-src="{{ g_image_url }}" border="0"></div>
        <div class="right">
            <div class="box brandInfo" ng-mouseover="brandSet=true" ng-mouseleave="brandSet=false">
                <a class="icon icon-dpd"></a>
                <span>{{ g_brand.name }}</span>
                <div class="brandSet" ng-show="brandSet" >
                    <div class="list" ng-repeat="b in g_brand_list" ng-class="{'selected':b.id === g_brand.id}">
                        <span ng-click="change_brand(b.id)">{{b.name}}</span>
                        <div class="set">
                            <a ng-href="#/brand/{{b.id}}">品牌信息设置</a>
                            <a class="delete" ng-click="delete_brand(b.id, $index)" ng-hide="g_brand_list.length === 1">删除品牌</a>
                        </div>
                    </div>
                    <a class="new" ng-click="newBrand()">+ 新建品牌</a>
                </div> 
            </div>
            <div class="box meInfo" ng-mouseover="winhide=true" ng-mouseleave="winhide=false">
                <a class="icon icon-dpd"></a>
                <p>{{ g_studio.username }}</p>
                <img ng-src="{{ g_avatar_url }}" />
                <div class="personal-win" ng-show="winhide">
                    <a href="#/studio/studio_basic">联系人信息</a>
                    <a href="#/brand/{{g_brand.id}}">品牌信息</a>
                    <a ng-click="logout()">退出账号</a>
                </div>
            </div>
            <div class="box iconImg">
                <a href="#/messages" class="icon icon-email" role="button"></a>
                <a class="icon icon-help" role="button"></a>
            </div>
        </div>
    </div>
</header>
 