<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
  <div class="wrapper order_detail" ng-Cloak>
     <span class="ordernum">订单号：{{order.order_num}}</span>
     <span class="creattime">下单时间：{{order.book_time | date:'yyyy-MM-dd  HH:mm:ss'}}</span>
     <div class="info-list addshadow">
       <div class="info-head">买手信息</div>
       <div class="buyer-info-container" >
            <div class="buyer-info">
                <div class="buyer-detail">
                    <div class="buyer-image" ng-show="!order.buyer.create_by_brand">
                      <img class="usr-avatar" ng-src="{{host}}{{order.buyer.avatar_detail.url}}"  />
                    </div>
                    <div class="buyer-image" ng-show="order.buyer.create_by_brand">
                      <img class="usr-avatar" src="images/peol.png" />
                    </div>
                </div>
                <div class="buyer-detail">
                    <div class="buyer-name">{{order.contact}}</div>
                </div>
                <div class="buyer-detail">
                    <div class="buyer-mb">{{price_type[order.buyer.price_type]}}</div>
                </div>
                <div class="buyer-detail">
                    <div class="buyer-email">
                      <span>电话：{{order.buyer.phone}}</span>
                      <span>Email：{{order.buyer.email}}</span>
                    </div>
                </div>
                <div class="buyer-detail">
                    <div class="buyer-com">{{order.buyer.company}}</div>
                </div>
            </div>
        </div>
     </div>
     <div class="info-list addshadow">
       <div class="info-head">商品信息</div>
       <div class="productInfo-container">
          <table class="productInfo-table" style="border-collapse: collapse;">
              <thead>
              <tr class="label-name">
                  <th>图例</th>
                  <th>商品</th>
                  <th>单价</th>
                  <th>商品编码</th>
                  <th>尺码</th>
                  <th>面料</th>
                  <th>总数量</th>
                  <th>备注</th> 
                  <th>金额小计</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="(k,v) in order.goods">
                  <td><a href="{{host}}{{v.image.url}}" class="fancybox-effects-d"><img ng-src="{{host}}{{v.image.url}}"></a></td>
                  <td class="productInfo-name">{{k}}</td>
                  <td>{{v.price}}</td>
                  <td>
                      <div  class="size_list" ng-repeat="(m,n) in v.sku">{{n}}</div>
                  </td>
                  <td>
                      <div class="size_list" ng-repeat="(m,n) in v.size">{{m}} x {{n}}</div>
                  </td>
                  <td class="contain">{{v.composition}}</td>
                  <td>{{v.number}}</td>
                  <td class="productNote">{{v.note}}</td>
                  <td>&yen;{{v.price*v.number}}</td>
              </tr>
              </tbody>
          </table>
      </div>
     </div>
     <div class="info-list addshadow">
       <div class="info-head">收件信息</div>
         <div class="reinfo">
           <div class="reinfo-1">
            <span>收货地址：{{order.province}}{{order.city}}{{order.address}}</span>
            <span>收件人：{{order.contact}}</span>
            <span>联系电话：{{order.mobile}}</span>
           </div>
           <div class="reinfo-2">
            <span ng-show="order.delivery">快递公司：{{order.delivery}}</span>
            <span ng-show="order.express_num">快递单号：{{order.express_num}}</span>  
           </div>
         </div>
     </div>
     <div class="info-list addshadow">
       <div class="info-head">
       <span>订单总结</span>
       <span class="dd-condition">
         <span>订货状态：{{goods_status[order.goods_status]}}</span>
         <span>货款状态：{{payment_status[order.payment_status]}}</span>
       </span>
       </div>
       <div class="order_total">
           <span class="grey-color quantity-info">
               <span>共</span>
               <span class="total-quantity">{{order.count}}</span>
               <span>件</span>
           </span>
           <span class="big-font old-price">&yen;{{order.total}}
               <span class="grey-color">(原价)</span>
           </span>
           <span class="big-font">&yen;{{order.total*order.discount/100}}
               <span class="grey-color">(折后价)</span>
           </span>
           <span class="discount_info">已享有折扣：
               <span ng-show="showDeal" class="b_discount">{{order.discount}}</span><!--点击调整后隐藏-->
               <span ng-show="!showDeal" class="b_discount">
                   <input class="discount_input" ng-model="temporary_discount"/><!--点击调整后显示-->
               </span>
               <span >%</span>
               <a class="deal_with" ng-click="change_discount()" ng-show="showDeal && order.goods_status == -1">调整</a><!--订单未确认时显示,点击后隐藏-->
               <span  class="save_cancel" ng-show="!showDeal && order.goods_status == -1">
                   <a class="deal_with" ng-click="save_discount(order.id)">保存</a>
                   <a class="deal_with" ng-click="change_cancel()">取消</a>
               </span><!--点击调整后显示-->

               <span class="order_attention" ng-show="!showDeal && order.goods_status == -1">修改之前，请务必与买家达成共识，确认订单后，折扣将不可再被调整。</span><!--点击调整后显示-->
           </span><!--确认后的订单，上面的input和a都隐藏-->
           <div class="operate" ng-hide="order.buyer.create_by_brand">
              <a class="canceldd" ng-click="confirm_cancel(order.id)" ng-hide="order.goods_status == 3">取消订单</a>
              <div class="confirm-head" id="canceldd{{order.id}}">
                  <div><p>请输入取消订单的原因：</p><textarea class="cancelReason" type="textarea" name="cancelReason" required ng-model="cancel_reason"></textarea></div>
                    <div ng-show="order.goods_status == -1">
                        <p>取消订单后，订单便不可恢复，
                        请认真选择.</p>
                    </div>
                    <div ng-hide="order.goods_status == -1">
                        <p>取消订单后，订单便不可恢复，
                        请务必提前通知订货方</p>
                    </div>
              </div>
              <a class="canceldd" ng-show="order.goods_status == -1" ng-click = "confirm_dd()">确认订单</a>
              <div class="confirm-head" id="confirmdd">
                  <div>
                      <p ng-hide="temporary_discount == beginDiscount" class="discount_attention">订单折扣被修改为：{{temporary_discount}}%</p>
                      <p>订单确认后，便与订货方达成交易协定，确定吗？</p>
                      <p></p>
                  </div>
              </div>
              <a ng-show="order.payment_status==0 && order.goods_status > -1" ng-click="confirm_depositMoney(order.id)" class="canceldd">确认订金到账</a>
              <div class="confirm-head" id="deposit-money-confirm{{order.id}}">
                <p>一经确认，表示您确定收到订金。</p>
                <p>确定收到订金吗？</p>
              </div>
               <a ng-show="order.payment_status==1 && order.goods_status > -1" ng-click="confirm_allMoney(order.id)" class="canceldd">确认全款到账</a>
              <div class="confirm-head" id="all-money-confirm{{order.id}}">
                <p>一经确认，表示您确定收到全部货款。</p>
                <p>确定收到全款吗？</p>
              </div>
              <a ng-click="delivery(order.id)" class="canceldd" ng-show="order.goods_status == 0">发货</a><!--ng-show="goods_status==0 && !i.wait_visible"-->
              <div class="confirm-head" id="delivery{{order.id}}">
                <p class="input-1"><label>快递公司：</label><input ng-model="order.delivery" placeholder="快递公司"/></p>
                <p class="input-2"><label>快递单号：</label><input ng-model="order.express_num" placeholder="快递单号"/></p>
              </div>
           </div>
      </div>
     </div>
  </div>
</div>
<div ng-include src="'templates/popup.html'"></div>
 