<div ng-include src="'templates/navbar.html'"></div>
<div ng-include src="'templates/menu.html'"></div>
<div class="container" ng-class="{'smallmenu': menubool}">
    <div class="tagList">
        <a class="list active">订单</a>
    </div>
    <div class="wrapper">
        <form class="form-horizontal" >
            <div class="form-group">
                <div class="search-head-1">已完成订单<span>({{order_list.length}})</span></div>
                <label class="saixuan" ng-click="choose()"><span class="choose-label">筛选</span><a class="icon icon-dpd"></a></label>
                <a class="btn btn-com btn-xs" href="#/output" role="button">导出订单</a>
                <a class="btn btn-com btn-xs" role="button" ng-click = "newWindow()" >查看订单商品统计</a>
            </div>
            <div class="yinchang addshadow" ng-show="show">
            <hr/>
                <!--<div class="form-group">
                    <label class="col-lg-2 control-label">状态:</label>
                    <div class="col-lg-10">
                    <label>
                    <input type="checkbox" ng-model="deal_status_filter['2']"
                   ng-true-value="2" ng-false-value="''">交易完成
                    </label>
                    <label>
                    <input type="checkbox" ng-model="deal_status_filter['3']"
                   ng-true-value="3" ng-false-value="''">交易取消
                    </label>
                    </div>
                </div>
                <hr/>
                -->
                <div class="form-group">
                    <label class="col-lg-2 control-label">订单号:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="订单号" ng-model="filter_data.order_number">
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-lg-2 control-label">商品信息:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="商品名称" ng-model="filter_data.product">
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" placeholder="商品编码" ng-model="filter_data.sku">
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-lg-2 control-label">买家信息:</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="店名" ng-model="filter_data.shop">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="买手" ng-model="filter_data.name">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="电话" ng-model="filter_data.phone">
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="地址（城市）" ng-model="filter_data.city">
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-lg-2 control-label">总价区间:</label>
                    <div class="col-lg-3">
                        <input type="number" min="0" class="form-control" placeholder="" ng-model="filter_data.min_total">
                    </div>
                    <div class="hold-height">～</div>
                    <div class="col-lg-3">
                        <input type="number" min="0" class="form-control" placeholder="" ng-model="filter_data.max_total">
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="col-lg-2 control-label">下单时间:</label>
                    <div class="col-lg-3">
                        <input type="text" class="form-control deal-time-from" placeholder="从" ng-model="filter_data.min_book_time">
                    </div>
                    <div class="hold-height">～</div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control deal-time-to" placeholder="至" ng-model="filter_data.max_book_time">
                    </div>
                </div>
                <hr/>
                <div class="form-search">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn-search enterClick" ng-click="filter_orders()" ng-class= "{'btn-loading-login':avoidClick}" ng-disabled="avoidClick">
                            <span class="icon icon-search"></span>
                            <span>搜索</span>
                        </a>
                    </div>
                    <div class="btn-reset" ng-click="order_reset()">重置</div>
                </div>
            </div>
        </form>
        <div class="ddqk addshadow" ><!--ng-repeat="i in order_list"-->
              <div class="order_head">
                <div class="orderNO">
                    <div class="up-down-label"><a class="icon" ng-class="{'icon-checked':headChecked,'icon-check':!headChecked}" id="check_all" ng-click="SelectAll(order_list)"></a>全选</div>
                </div>
                <div class="order_num">
                    <div class="up-down-label">订单号</div>
                    <a class="up-down" ng-click="order('order_num')" ng-class="{'up-down-opacity':order_by !== 'order_num'}">
                        <div class="up" ng-hide="reverse && order_by === 'order_num'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'order_num'"></div>
                    </a>
                </div>
                <div class="order_time">
                    <div class="up-down-label">下单时间</div>
                    <a class="up-down" ng-click="order('book_time')" ng-class="{'up-down-opacity':order_by !== 'book_time'}">
                        <div class="up" ng-hide="reverse && order_by === 'book_time'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'book_time'"></div>
                    </a>
                </div>
                <div class="order_shop">
                    <div class="up-down-label">买手店</div>
                    <a class="up-down" ng-click="order('shop')" ng-class="{'up-down-opacity':order_by !== 'shop'}">
                        <div class="up" ng-hide="reverse && order_by === 'shop'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'shop'"></div>
                    </a>
                </div>
                <div class="order_buyer">
                    <div class="up-down-label">买手名</div>
                    <a class="up-down" ng-click="order('contact')" ng-class="{'up-down-opacity':order_by !== 'contact'}">
                        <div class="up" ng-hide="reverse && order_by === 'contact'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'contact'"></div>
                    </a>
                </div>
                <div  class="order_money">
                    <div class="up-down-label">总金额</div>
                    <a class="up-down" ng-click="order('total*discount')" ng-class="{'up-down-opacity':order_by !== 'total*discount'}">
                        <div class="up" ng-hide="reverse && order_by === 'total*discount'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'total*discount'"></div>
                    </a>
                </div>
                <div  class="order_condition">
                    <div class="up-down-label">状态</div>
                    <a class="up-down" ng-click="order('goods_status')" ng-class="{'up-down-opacity':order_by !== 'goods_status'}">
                        <div class="up" ng-hide="reverse && order_by === 'goods_status'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'goods_status'"></div>
                    </a>
                </div>
                <div  class="order_payment">
                    <div class="up-down-label">货款状态</div>
                    <a class="up-down" ng-click="order('payment_status')" ng-class="{'up-down-opacity':order_by !== 'payment_status'}">
                        <div class="up" ng-hide="reverse && order_by === 'payment_status'"></div>
                        <div class="down" ng-hide="!reverse && order_by === 'payment_status'"></div>
                    </a>
                </div>
                <div class="order_do">
                    <div class="up-down-label">操作</div>
                </div>
              </div>
              <div class="order_body" ng-repeat="i in order_list | orderBy:order_by:reverse" >
                <div class="orderNO"><a class="icon" ng-class="{'icon-checked':i.checked,'icon-check':!i.checked}" ng-click="SelectOne(i)"></a></div>
                <div class="order_num">{{i.order_num}}</div>
                <div class="order_time">{{i.book_time | date:'yyyy-MM-dd'}}</div>
                <div class="order_shop">{{i.shop}}</div>
                <div class="order_buyer">{{i.contact}}</div>
                <div class="order_money">&yen;{{i.total * i.discount / 100}}</div>
                <div class="order_condition">交易完成</div><!--{{goods_status[i.goods_status]}}-->
                <div class="order_payment">{{payment_status[i.payment_status]}}</div>
                <div class="order_do">
                  <a  class="undeal-do" ng-href="#/orders/{{i.id}}">查看详情</a>
                </div>
              </div>  
        </div>
    </div>
</div>
<div ng-include src="'templates/popup.html'"></div>