<div class="prev_white">
	<div class="prev_navbar">
	        <i class="prev_logo"></i>
	</div>
</div>
<div ng-include src="'templates/preview_menu.html'"></div>
<div class="pre_rightside">
        <div class="branddetail">
                <div class="brand-auth">
                        <span class="brand-name">{{g_brand.name}}</span>
                        <a class="btn btn-blank" ng-click="auth_apply()" ng-show="brand.need_verified">申请关联</a>
                        <a class="btn btn-blank" ng-click="auth_code()" ng-show="brand.need_verified">邀请码关联</a>
                </div>
                <p class="brand-info">{{g_brand.description}}</p>
                <p class="brand-time">成立时间：{{g_brand.create_time}}</p>
                <p class="brand-channel">渠道：{{g_brand.channels}}</p>
                <p><img class="brand-logo" src="{{host}}{{g_brand.image_detail.url}}"></p>
                <h2>设计师</h2>
                <div ng-repeat="d in stylist">
                        <i class="title">{{d.name}}</i>
                        <p class="summary">{{d.summary}}</p>
                </div>
                <h2>品牌系列</h2>
                <div ng-repeat="c in collections">
                        <i class="title">{{c.title}}</i>
                        <p class="summary">{{c.description}}</p>
                </div>
        </div>
</div>